body{
    background-color: #d6d6d6;
}

h1{
    text-align: center;
}

.container {
    display:grid;
    grid-template-rows:repeat(10, 50px);
    grid-template-columns:repeat(10, 50px);
    padding: 20px;
    justify-content: center;
}

.container div{
    background-color: rgb(255, 229, 211);
    border: 1px solid black;
    font-size: 10px;
    text-align: center;
}

.lista{
    text-align: center;
    border: 1px solid;
    border-radius: 10px;
}